html {
  font-family: Roboto;
  background-image: url(maaap.png);
  background-position: middle;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

#input-box {
  text-align: center;
  width: fit-content;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffffff2;
  border-color: #949494;
  border-style: solid;
  border-width: 0.05em;
}

.form_field {
  margin-top: 0.2em;
  margin-bottom: 1.3em;
  margin-right: 0.5em;
}

#radius {
  width: 4em;
}

#submit {
  height: 2em;
  border-radius: 10em;
  width: 12em;
  font-size: 0.8em;
  background: none;
  border-color: #949494;
}

#logo {
  height: 3em;
}

#boxes {
  margin-top: 2em;
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.list-box {
  height: 18em;
  width: 48%;
  padding-top: 1em;
  padding-bottom: 2em;
}

#city-container {
  background-color: #e2e2e254;
  margin-right: 2%;
}

#cities {
  overflow-y: scroll;
  height: 15em;
}

#wishlist-container {
  background-color: #ffbab363;
  margin-left: 2%;
}

#wishlist {
  overflow-y: scroll;
  height: 15em;
}

#box-description {
  font-size: 1.2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: center;
}

li {
  padding: 0.25em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: inherit;
    min-width: 150px;
    padding: 0.5em;
    background-color: white;
    text-align: center;
    font-family: Roboto;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    border-width: 0.05em;
    left: 105%;
    top: -5px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#footer {
  padding-bottom: 0.3em;
  text-align: center;
  width: 450px;
  bottom: 0px;
  margin: auto;
  margin-top: 3em;
  display: block;
  font-size: 0.8em;
  vertical-align: middle;
}

a:link {
  text-decoration: none;
}
